.Btn1 {
    color: white;
    background-color: black;
    padding: 9px 18px;
    border: 0;
    border-radius: 17px;
    font-weight: bold;
    cursor: pointer;
  }
  .Btn1:hover {
    opacity: 0.7;
  }
  .is-subscribed  {
    background-color: rgb(240, 240, 240);
    color: black;
  }
  body {
    font-family: Arial;

  }
  input {
    padding: 10px 10px;
    font-size: 15px;
  }
  .Calculate {
  background-color: rgb(0, 128, 0);
  color: white;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 2px;
  } 
  .Calculate:hover {
      opacity: 0.7;
  }
